.grid {
  width: 606px;
  height: 606px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.square {
  height: 200px;
  width: 200px;
  border: solid black 1px;
}

.mole {
  background-image: url("mole.jpeg");
  background-size: cover;

}